.rating-reviews {

    --countComments: "0";
    --offsetComment: -30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-title {
            &,
            &h2,
            .rating-reviews & {
                font-size: fluid(24,20);
                font-family: "Satoshi";
            }
            position: relative;
            &::after {
                position: absolute;
                content: " (" var(--countComments) ")";
                color: var(--color-black-transparent-06);
                right: calc(var(--offsetComment) * 1px);
                font-size: fluid(16,14);
                top:15%;
            }
        }

        &-actions {
            display: flex;
            column-gap: fluid(10,8);
            align-items: center;
            font-size: fluid(16,12);
            &--options {
                border-radius: 50%;
                width: fluid(48,40);
                height: fluid(48,40);

                @include hover {
                    background-color: var(--color-gray) !important;
                    transform: scale(1.1);
                }
            }

            &--latest {
                width: 120px;
                position: relative;
                padding-block: 13px;
                padding-left: 20px;
                justify-content: start;
                &::after {
                    content: "";
                    position: absolute;
                    background-image: url("/src/assets/icons/arrow-down.svg");
                    width: 24px;
                    height: 24px;
                    top: 45%;
                    right: 5%;
                    object-fit: cover;
                    background-repeat: no-repeat;
                }

                @include mobile {
                    display: none;
                }
            }

            &--review {
                width: fluid(166,113);
                height: fluid(48,40);
                padding: 12px fluid(30,16);
                font-size: inherit;
            }
        }
    }

    &__body {
        &-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;

            @include tablet {
                display: flex;
                flex-direction: column;
            }
        }

    }
    &__comment {
        width: auto;
        @include mobile-above {
            max-height: 244px;
        }
        @include mobile {
            height: auto;
        }
    }

    &__footer {
        align-self: center;
    }
}