.product {

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
        padding-inline: 50px;
        }

        @include mobile {
            padding-inline: 16px;
            display: block;
        }
    }

    &__title
    {
        margin-bottom: fluid(55,32);
        text-align: center;
    }
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: fluid(20,16) fluid(36,24);

            @include middle-above {
                flex-wrap: nowrap;
            }

            @include mobile {
                justify-content: center;
                display: block;
            }
            
            &--opened {
                flex-wrap: wrap;
            }
        }
        &-button {
            margin-top: fluid(36,24);

            @include mobile {
                width: 100%;
            }
        }

        @include mobile {
            display: block;
        }

        
    }

    
}