.product {

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title
    {
        margin-bottom: fluid(55,32);
        text-align: center;
    }
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: fluid(20,16) fluid(36,24);

            @include middle-above {
                flex-wrap: nowrap;
            }

            @include mobile {
                justify-content: center;
            }
        }
        &-button {
            margin-top: fluid(36,24);
        }
    }
}