.button {
    display: flex;
    justify-content: center;
    width: 210px;
    height: 52px;
    text-align: center;
    padding: 15px 80px;
    border-radius: var(--border-radius-l);
    border:var(--border);
    background: var(--color-white);
    position: relative;
    align-items: center;
    text-wrap: nowrap;
    font-size: fluid(16,14);

    &--modal {
            color: red !important;
            background: var(--color-black) !important;
            width: 70px !important;
            height: 70px !important;
            min-width: 70px;
            min-height: 70px;
            border-radius: var(--border-radius-s);

            
    }
    
    &--black {
            background: var(--color-black);
            color: var(--color-white);
            padding-inline: fluid(68,48);
            font-size: 16px;

            @include hover {
                background: var(--color-white) !important;
                color: var(--color-black) !important;
                border: 1px solid var(--color-black) !important;
            }
    }
    &--gray {
        background: var(--color-gray) !important;
    }

    &--slider {
        background: transparent;
        border: none;
        color: black;
        @include hover {
            transform: scale(1.4);
            background: transparent !important;
        }
    }

    &--sizes {
        color: var(--color-black-transparent-06);
        background-color: var(--color-gray);
        height: fluid(46,39);
        padding: fluid(12,10) fluid(24,20);
        font-family: "SatoshiR";
        font-size: fluid(16,14);
        width: auto;
    }

    &__icon {

        width: 44px;
        padding: 0;
        object-fit: contain;
        background: transparent;
        border: none;

        @include hover {
            background: transparent !important;
        }

        &-item {
            width: 24px;
            height: 24px;
            object-fit: contain;
            @include abs-center;
            filter: red !important;
            
        }
        &-before, &-after {
            width: fluid(20,16);
            height: fluid(20,16);
            max-width: max-content;
        }

        &-before {
            margin-right: 8px;
        }
        &-after {
            margin-left: 8px;
        }

        &--small {
            width: 20px;
            height: 20px;
        }

        &--modal {
            width: 90%;
            height: 90%;
        }

    }
    @include hover {
        background: var(--color-black);
        color: var(--color-white);
    }
}