.button {
    width: 210px;
    height: 52px;
    border-radius: var(--border-radius-l);
    text-align: center;
    padding: 15px 80px;
    border-radius: var(--border-radius-l);
    border:var(--border);
    background: var(--color-white);

    &__icon {
        width: 20px;
        height: 20px;
        object-fit: contain;

        &-item {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &--transparent {
        background: transparent;
    }
}