.button {
    display: flex;
    justify-content: center;
    width: 210px;
    height: 52px;
    text-align: center;
    padding: 15px 80px;
    border-radius: var(--border-radius-l);
    border:var(--border);
    background: var(--color-white);
    position: relative;
    align-items: center;
    text-wrap: nowrap;

    &--modal {
            color: var(--color-white);
            background: var(--color-black) !important;
            width: 70px !important;
            height: 70px !important;
            min-width: 70px;
            min-height: 70px;
            border-radius: var(--border-radius-s);
        }
    
    &--black {
            background: var(--color-black);
            color: var(--color-white);
            padding-inline: fluid(68,48);
        }

    &__icon {

        width: 44px;
        padding: 0;
        object-fit: contain;
        background: transparent;
        border: none;

        &-item {
            width: 24px;
            height: 24px;
            object-fit: contain;
            @include abs-center;
            
        }

        &--small {
            width: 20px;
            height: 20px;
        }

        &--modal {
            width: 90%;
            height: 90%;
        }

        

        
    }
}