.rating-view {
    --ratingViewValue: 5;
    display: flex;
    align-items: center;
    column-gap: 4px;

    &__stars {
        position: relative;

        &-filled {
            --ratingViewStarsClipEnd: calc(100% / 5 * var(--ratingViewValue));

            clip-path: polygon(
            0 0, 
            var(--ratingViewStarsClipEnd) 0,
            var(--ratingViewStarsClipEnd) 100%,
            0 100%
            );
        }

        &--comments {
            position: absolute;
            left: 45px;
            transform: scale(1.4);
        }
        &--banner {
            transform: scale(1.5);
            left: 20px;
            margin-right: 40px;
        }
    }

    &__label {
        font-size: fluid(14,12);
        font-weight: normal;
        font-family: "SatoshiR";

        &--banner {
            font-size: fluid(16,14);
        }
    }

}