.price-section {
    position: relative;
    z-index: 1;

    .section-title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 20px;
      color: black;
    }

    .range-slider {
      position: relative;
      width: 100%;
      height: 5px;
      margin-top: 10px;
      margin-bottom: 25px;
    }

    .slider-track {
      width: 100%;
      height: 6px;
      background-color: var(--color-black-transparent);
      position: absolute;
      top: 0;
      border-radius: 3px;
    }

    .slider-track-active {
      height: 6px;
      background-color: black;
      position: absolute;
      top: 0;
      border-radius: 3px;
      z-index: 1;
    }

    .range-input {
      width: 100%;
      position: absolute;
      top: -6px;
      height: 20px;
      background: none;
      pointer-events: none;
      -webkit-appearance: none;
      appearance: none;
      z-index: 2;
      margin: 0;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        pointer-events: auto;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: black;
        cursor: pointer;
        border: none;
        box-shadow: 0 0 0 2px white;
      }

      &::-moz-range-thumb {
        pointer-events: auto;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: black;
        cursor: pointer;
        border: none;
        box-shadow: 0 0 0 2px white;
      }
    }

    .price-labels {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
      font-weight: 600;
      font-size: 16px;
      color: black;
    }
  }