
@import './helpers/index.scss';
@import './fonts.scss';
@import './variables.scss';
@import './utils.scss';
@import '@a1rth/css-normalize/index.css';



html {
    &.is-lock {
        overflow: hidden;
    }
}
body {

    @include fluid-text(18,14);

    display: flex;
    flex-direction: column;
    font-family: var(--font-family-main);
    color: var(--color-black);
    background: var(--color-white);
    font-size: 16px;

}
html, body {
    /* overflow: hidden; */
    scrollbar-gutter: unset;
}
main {
    flex-grow: 1;
}
h1,h2,h3,h4,h5,h6 , .h1 ,.h2,.h3,.h4,.h5,.h6 {
    color:var(--color-black);
    font-family: var(--font-family-second);
    

}
h1, .h1 {
    @include fluid-text(64,36);
    font-weight: 1000;
    line-height: 1;
}
h2, .h2 {
    @include fluid-text(48,32);
    font-weight: 700;
}
h3, .h3 {
    @include fluid-text(40,32);
    font-weight: 700;
}
h4, .h4 {
    @include fluid-text(36,24);
    font-weight: 600;
}
h5, .h5 {
    @include fluid-text(20,16);
    font-weight: 600;
    font-family: 'Satoshi';
}
h6, .h6 {
    @include fluid-text(16,14);
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 112%;
    font-family: 'SatoshiR';
}

a, button,label,input,select,textarea,svg * {
    transition-duration: var(--transition-duration);
}
a {
    color: inherit;
    font-size: 16px;
    &[class] {
        text-decoration: none;
    }
}
:focus-visible {
    @include focus-visible;
}

:has(.swiper) {
    min-width: 0;
}
.hr {
    width: 100%;
    height: 1px;
    background: var(--color-black-transparent);
}
section:not(:last-child)
{
    margin-bottom: fluid(80,50);
}

/* .header, .content > *:not(:nth-last-child(2)), .footer {
    display: none !important;
} */
