:root {
    --color-white: #fff;
    --color-black: #000;
    --color-gray: #F0F0F0;
    --color-black-transparent: rgba(0,0,0,0.1);


    --border: var(--border-width-s) solid var(--color-black-transparent);

    --border-radius-l: 62px;
    --border-radius-m: 20px;
    --border-radius-s: 8px;

    --border-width-l: 4px;
    --border-width-m: 2px;
    --border-width-s: 1px;


    --font-family-main: 'Satoshi', sans-serif;
    --font-family-second: 'Integralcf', sans-serif;


    --container-width: #{fluid-to-laptop($container-desktop-width, $container-laptop-width)};

    --container-padding-x: 100px;


    --section-padding-y: #{fluid(75,40)};


    --transition-duration: 0.2s;
    --transition-duration-longer: 0.4s;
}