.comment {
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    height: fluid(240,186);
    border-radius: var(--border-radius-m);
    border: 1px solid var(--color-black-transparent);
    width: fluid(400,358);
    padding: fluid(28,24) fluid(32,24);

    @include laptop {
        width: auto;
    }

    @include mobile {
        margin-inline: auto;
    }

    &__body {
        display: inherit;
        flex-direction: inherit;
        row-gap: 12px;
    }

    &__user-nick-name {
        
        &--ordered {
            position: relative;
            &::after {
                content: "";
                width: 24px;
                height: 24px;
                background-image: url("/src/assets/icons/checked.png");
                position: absolute;
                top: 8%;
            }
        }

    }
}