.reviews{
    display: flex;
    flex-direction: column;
    row-gap: fluid(24,20);

    @include tablet {
        padding-inline: 50px;
    }

    @include mobile {
        padding-inline: 16px;
    }

    &__actions {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        color: var(--color-black-transparent-06);
        font-size: fluid(20,16);
        font-family: "SatoshiR";
        margin-bottom: 24px;

        &-product-details, &-rating-reviews, &-FAQs {
            position: relative;
            border: none;
            background: transparent;
            color: var(--color-black-06);
            &::before {
                content: "";
                position: absolute;
                bottom: -20px;
                width: 100%;
                height: 1px;
                background-color:rgba(0,0,0,0.1);
                left: 0px;
            }

            &.is-active {
                color: var(--color-black);
                font-family: "Satoshi";

                &::before {
                    background-color: var(--color-black);
                    height: 2px;
                }
            }
        }

        @include mobile-s {
            grid-template-columns: 1fr 1fr 0.5fr;
        }
    }
}