.colors {
    &__list {
        display: flex;
        // column-gap: fluid(16,12);
        flex-wrap: wrap;
        gap: 16px fluid(16,12);

        &::after {
            display: none;
        }
    }

    &__item {
        width: 37px;
        height: 37px;
        border-radius: 50%;
        &-button {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: var(--border);
            &.is-active {
                &::before {
                    position: absolute;
                    content: "";
                    background-image: url("/src/assets/icons/checkMark.svg");
                    width: 16px;
                    height: 16px;
                    top: 50%;
                    left: 50%;
                    translate: -50% -50%;
                }
                border: 2px solid var(--color-black-transparent-06);
            }
        }
    }
}

 