.input {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    border: none;
    background: var(--color-gray);
    height: 50px;
    max-width: 555px;
    width: fluid(555,300);
    border-radius: var(--border-radius-l);
    padding: 12px 16px;

    &-element {
        width: 100%;
        background: transparent;
        border: none;
        font-size: 16px;
        align-items: center;

        &:focus-visible {
            outline: none !important;
            outline-offset: 0 !important;
        }

    }

    @include hover {
        border: var(--border);
    }


    &:focus-within {
        border: var(--border);
        border-color: var(--color-black);
    }
}