.shop-products {
    padding-inline: 100px;
    margin-top: 24px;
    width: 100%;

    @include tablet {
        padding-inline: 50px;
    }

    @include mobile {
        padding-inline: 16px;
    }

    &__body {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
}