.product-banner {

    @include tablet {
        padding-inline: 50px;
    }

    @include mobile {
        padding-inline: 16px;
    }
    &__header {
        display: flex;
        column-gap: fluid(32,18);
        justify-content: start;
        margin-top: 24px;
        margin-bottom: fluid(36,20);
        &-path {
            font-size: fluid(16,14);
            position: relative;
            font-family: 'SATOSHIR';

            &:not(:last-child) {
                color: var(--color-black-transparent-06);
                &::after {
                    content: "";
                    position: absolute;
                    object-fit: cover;
                    background-repeat: no-repeat;
                    background-image: url("/src/assets/icons/arrow-right.svg");
                    width: 16px;
                    height: 16px;
                    right: -20px;
                    top: 15%
                }
            }
        }
    }
    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-height: 530px;
        @include desktop-s-above {
            grid-template-columns: 1fr 1.5fr;
        }   

        @include tablet-l {
            display: flex;
            flex-direction: column;
            max-height: none;
            row-gap: 20px;
        }
    }
    &__card {
        display: flex;
        gap: 14px 12px;
        height: 100%;
        &-aside {          
            &-list {
                display: flex;
                flex-direction: column;
                row-gap: 14px;
                height: 100%;

                @include mobile {
                    flex-direction: row;
                    column-gap: 12px;
                }
            }

            &-item {
                width: 152px;
                height: 167px; 

                @include mobile {
                    width: 111px;
                    height: 106px;
                    
                }
            }
            &-button {
                width: 100%;
                height: 100%;
                border: none;
                border-radius: var(--border-radius-m);
                background-size: cover;
                @include hover {
                    
                    transform: scale(1.1);
                }

                &:focus {
                    @include focus-visible;
                }
            }

        }
        &-image {
            height: 100%;
            object-fit: cover;
            border-radius: var(--border-radius-m);
            min-width: 400px;
            @include mobile {
                min-width: 358px;
                width: 358px;
                height: 290px;
            }
        }

        &-aside, &-main {
            align-self: center;
        }

        @include mobile {
            flex-direction: column-reverse;
        }

        &-main {
            height: 100%;
        }
    }
    &__description {
        padding-left: 40px;
        max-height: 530px;
        &-name {
            font-size: fluid(40,24);
        }
        &-title {
            display: flex;
            flex-direction: column;
            row-gap: fluid(14,12);
        }
        &-text {
            font-size: fluid(16,14);
            color: var(--color-black-transparent-06);
            margin-bottom: 24px;
        }

        @include tablet-l {
            padding: 0;
        }
    }
    &__colors {
        display: flex;
        flex-direction: column;
        row-gap: 16px;

        padding-block: 14px;
        &-label {
            font-size: fluid(16,14);
            color: var(--color-black-transparent-06);
        }

        &-list {
            display: flex;
            flex-direction: row;
            column-gap: fluid(16,12);
        }

        &-item {
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 50%;

            &.is-active {
                &::before {
                    position: absolute;
                    content: "";
                    background-image: url("/src/assets/icons/checkMark.svg");
                    width: 16px;
                    height: 16px;
                    top: 50%;
                    left: 50%;
                    translate: -50% -50%;
                }
            }

            
        }
        &-button {
                border: none;
                width: 44px;
                height: 44px;
                background-color: transparent;
        }
    }

    &__sizes {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        &-label {
            font-size: fluid(16,14);
            color: var(--color-black-transparent-06);
        }

        
        
    }
    &__actions {
        margin-top: 24px;
        display: grid;
        grid-template-columns: fluid(170,111) 1fr;
        column-gap: fluid(20,12);

        &-count {
            width: fluid(170,110);
            height: 52px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--color-gray);
            border-radius: var(--border-radius-l);
            font-size: fluid(16,14);
            padding: fluid(14,12) fluid(20,16);

            &--small {
                width: fluid(126,105);
                height: fluid(44,31);
            }
        }

        &-button {
            
            &--count {
                

                &-m {
                    translate: -35% 0;
                    
                }
                &-p {
                    translate: 35% 0;
                }
                &--is-not-active {
                img {
                    transition-duration: var(--transition-duration);
                    opacity: 0.3;
                }
            }
                
            }
            &--add {
                min-width: 236px;
                width: 100%;
            }
            

        }
    }

    //полосы
    &__description-title, &__colors, &__sizes {
        position: relative;
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: var(--color-black-transparent);
                bottom: 0px;
                left: 0px;
            }
    }
}