.banner-tag {
    position: relative;
    display: flex;
    flex-direction: column;
    column-gap: fluid(20,16);
    /* min-width: 141px; */
    padding-right: 32px;

    &:not(:last-child){
        &::after {
            content: "";
            position: absolute;
            right: 0;
            background: var(--color-black-transparent-06);
            width: 1px;
            height: 100%;
        }
    }

    &__label {
        position: relative;
        font-size: fluid(40,24);
        font-weight: 600;
        
    }

    &__description {
        color: var(--color-black-transparent-06);
        text-wrap: nowrap;
        font-size: fluid(16,12);
    }
}