.shop-products {
    padding-inline: 100px;
    margin-top: 24px;
    width: 100%;

    @include tablet {
        padding-inline: 50px;
    }

    @include mobile {
        padding-inline: 16px;
    }

    &__body {
        display: grid;
        grid-template-columns: 1fr 4fr;
        gap:20px;

        @include tablet {
            grid-template-columns: 1fr ;
        }
    }

    &__filters {
        display: flex;
        flex-direction: column;
        max-width: 300px;
         border: var(--border);
        border-radius: var(--border-radius-m);

        &-price:has(.is-active-height)::after {
            bottom: -15px !important;
        }
        & > * {
            position: relative;

            &:not(:nth-last-child(-n +2)) {
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    right: 10%;
                    width: 82%;
                    transform-origin: center;
                    height: 1px;
                    background-color: var(--color-black-transparent);
                    min-height: 1px;
                }
            }
            
        }
        &-actions {
            padding-inline: 24px;

            &-button {
                width: 100%;
                margin-bottom: 30px;
            }
        }

        &.is-mobile-active {
            position: absolute;
            width: 100%;
            height: 100vh;
            padding: 0;
            border: none;
            z-index: 100;
            left: 0px;
            top: 70px;
            padding: 0;
            max-width: none;
            background-color: var(--color-white);
            overflow-y: scroll;
            transition-duration: var(--transition-duration-longer);
            transform: scaleY(0); 
            transform-origin: bottom center;

            & > * {
                & > * {
                    max-width: none;
                }
                max-width: none;
            }
        }
        &.is-filters-visible {
            transform: scaleY(1); 
            
            border: var(--border);
            padding-bottom: 70px;
        }
    }
    &__actions {
        display: flex;
        justify-content: space-between;
        row-gap: 16px;
        align-items: center;
        &-prev, &-next {
            width: fluid(110,90);
            height: 36px;
            border: var(--border);
            border-radius: var(--border-radius-s);
            background-color: transparent;
            padding: 8px 14px;
            span {
                font-size: 14px;
            }
            display: flex;
            align-items: center;
        }
        &-pagination {
            display: flex;
            column-gap: 4px;
        }
    }

    &__type {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-name {
            font-family: "Satoshi";
            font-size: fluid(32,24);
        }
        &-sort {
            display: inherit;
            align-items: inherit;
            justify-content: inherit;
            color: var(--color-black-transparent-06);
        }
    }
    &__stuff {
        margin-top: 30px;
        margin-bottom: fluid(52, 44);
    }
}
.custom-numbers-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.pagination-number {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: transparent;
    font-size: 14px;
    border: none;
    color: var(--color-black-transparent-06);
}

.pagination-number:hover {
    background: var(--color-accent);
}

.pagination-number.active {
    background: var(--color-accent);
    color: var(--color-black);
}

.pagination-ellipsis {
    padding: 0 8px;
    color: #666;
    font-weight: bold;
    user-select: none;
}

.swiper-button-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}