.customers {
    display: flex;
    flex-direction: column;
    row-gap: fluid(40,24);

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        @include tablet {
            text-align: center;
        }
    }

    &__actions {
        display: flex;
        justify-content: end;
        align-self: end;
    }
}