.banner {
    background-color: var(--color-gray);
    width: 100%;
    height: 90vh;

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    

    &__body {

        &-title {
            margin-top: fluid(100,40);
        }

        &-description {
            padding-block: fluid(32,20);
            max-width: 545px;
        }
        &-tags {
            display: flex;
            column-gap: fluid(32,28);
            margin-top: fluid(48,20);
        }
        max-width: 640px;
    }

    &__images {
        position: relative;
        &-people {
            max-height: 663px;
            width: 100%;
            object-fit: cover;
            min-height: 663px;

            @include laptop {
                object-fit: cover;
            }
        }
    
        &-star1 {
            position: absolute;
            top:50%;
            left: 0%;
            width: fluid(56,44);
            @include square(width);
        }
        &-star2 {
            position: absolute;
            top:12%;
            right:5%;
            width: fluid(104,76);
            @include square(width);
        }
    }

    &__footer {
        background: var(--color-black);
        height: 122px;
        display: flex;
        align-self: center;

        &-wrapper {
            padding-inline: fluid(100,16);
            display: inline-flex;
            padding-block: 44px;
            align-items: center;
            justify-content: space-between;
            column-gap: 34px;
        }
    }
}