.swiper {
    &-button-disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &-customers__slider {
        max-width: 1240px;
        align-self: center;
        &.container {
            padding: 0;
        }

    }

    &-products__slider {

        @include mobile {
            max-width: fluid(1440,350);
        }
    }
    &-slide {
        margin-top: 0px !important;
    }

    &-pagination {
        position:  relative !important;
    }
}