.swiper {

    &-button-disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &-customers__slider {
        max-width: 1240px;
        align-self: center;
    }

    &-products__slider {

        @include mobile {
            max-width: fluid(1440,350);
        }
        // max-width: 400px;
    }
}